/10.3-unit-testing-with-mocha-chai
/10.4-more-with-chai
/10.5-unit-testing-with-jest
/10.7-assessment
/11.3-writing-errors
/11.4-try-and-catch
/13.5-promises-assessment
/14.5-requests-in-javascript
/14.6-testing-async-javascript
/14.7-making-requests
/15.2-promise-chaining
/15.4-promise-all
/3.3-connecting-with-qualified
/3.6-modules
/3.7-package-json
/3.9-module-assessment
/4.10-default-parameters
/4.12-writing-readable-code
/4.13-coding-assessment
/4.2-qualified-errors
/4.3-qualified-variables
/4.4-strings
/4.5-control-flow
/4.6-looping-over-objects
/4.8-object-shorthand-spread
/5.2-function-expressions-arrow-exp
/5.3-higher-order-functions
/5.4-map-filter-find-some-every
/5.5-reduce
/5.6-sort
/5.7-advanced-functions-assessment
/6.2-qualified-work-project
/7.3-git-basics
/example.js
/package-lock.json
/test.js